<p>
  <strong>Id:</strong>
  <%= @classroom.id %>
</p>
<p>
  <strong>Room No:</strong>
  <%= @classroom.room_no %>
</p>
<p>
  <strong>Class No:</strong>
  <%= @classroom.class_no %>
</p>
<a href="/index?id=<%= @classroom.school_id %>">back</a>