<html>
  <body>
    <h1><center>School System</h2>
    <p><center>
    <strong> <%= @school.name %></strong>
    <strong> removed from school system</strong>
    </p> 
    <a href="/view">back</a>
  </body>
</html>