<h1><center>New School</h2>
  <form action="/submit">
	Name:<br>
	<input type="text" name="name">
	<br>
	Address:<br>
	<input type="text" name="address">
	<br>
	Phone Number:<br>
	<input type="text" name="phone_number">
	<br>
	Code:<br>
	<input type="text" name="code">
	<br>
	<br>
	<input type="submit" value="Submit">
  </form> 
<a href="/">back</a>